* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: var(--cor-ter);
}

:root {
    --cor-pri: #274156;
    --cor-sec: #1C6E8C;
    --cor-ter: #605856;
    --cor-qua: #FBFCFF;
    --cor-qui: #D0CCD0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  background-color: #f2f2f2;
}
.cabecalho {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.formulario {
  width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nome,
.email,
.sexo,
.curso,
.atendimento,
.termos,
.inscricao {
  margin-bottom: 15px;
}

.nome label,
.email label,
.sexo label,
.curso label,
.atendimento label,
.termos label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.nome input,
.email input,
.atendimento textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.sexo label,
.curso label {
  display: inline-block;
  margin-right: 10px;
}

.atendimento textarea {
  height: 80px;
}

.termos label {
  display: inline;
  font-weight: normal;
}

.inscricao input[type="submit"] {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: var(--cor-pri);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

.inscricao input[type="submit"]:hover {
  background-color: #45a049;
}
